@model ModernSchoolWEB.Models.FrequenciaalunoViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FrequenciaalunoViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPessoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPessoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDiarioDeClasse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDiarioDeClasse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Faltas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Faltas)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.IdPessoa }) |
    <a asp-action="Index">Back to List</a>
</div>
