@model IEnumerable<ModernSchoolWEB.Models.FrequenciaalunoViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPessoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDiarioDeClasse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faltas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPessoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDiarioDeClasse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Faltas)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.IdPessoa }) |
                @Html.ActionLink("Details", "Details", new {  id=item.IdPessoa }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.IdPessoa })
            </td>
        </tr>
}
    </tbody>
</table>
