@model List<ModernSchoolWEB.Models.AlunoAvaliacaoDTOModel>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].IdAluno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].NomeAluno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Nota)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <form asp-controller="AlunoAvaliacao" asp-action="Edit" method="post">
            @for (int i = 0; i < Model.Count(); i++)
            {
            <tr>
                <td>
                        @Html.DisplayFor(modelItem => Model[i].IdAluno)
                    <input type="hidden" asp-for="@Model[i].IdAluno" value="@Model[i].IdAluno">
                </td>
                <td>
                        @Html.DisplayFor(modelItem => Model[i].NomeAluno)
                    <input type="hidden" asp-for="@Model[i].NomeAluno" value="@Model[i].NomeAluno">
                </td>
                <td>
                    <input type="hidden" asp-for="@Model[i].IdAvaliacao" value="@Model[i].IdAvaliacao">
                </td>
                <td>
                    <input type="number" asp-for="@Model[i].Nota" value="@Model[i].Nota">
                </td>
            </tr>
            }
        <tr>
            <td style="border-bottom:none;">
                <input type="submit" value="Save" class="btn btn-primary" />
            </td>
        </tr>
        </form>
    </tbody>
</table>

