@model IEnumerable<ModernSchoolWEB.Models.AlunoAvaliacaoDTOModel>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdAluno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeAluno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdAluno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeAluno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.IdAluno, idAvaliacao = item.IdAvaliacao  }) |
                    @Html.ActionLink("Details", "Details", new { id=item.IdAluno, idAvaliacao = item.IdAvaliacao }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.IdAluno, idAvaliacao = item.IdAvaliacao  })
            </td>
        </tr>
}
    </tbody>
</table>
