@model IEnumerable<ModernSchoolWEB.Models.DiarioDeClasseViewModel>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataShow)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livros)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LivrosSeduc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResumoAula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTurma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdComponente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProfessor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoAula)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataShow)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Livros)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LivrosSeduc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResumoAula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTurma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdComponente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProfessor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoAula)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>
