@model ModernSchoolWEB.Models.AvaliacaoProfessorViewModel

<h4>AvaliacaoProfessorViewModel</h4>
<hr />
<p>
    <a asp-action="Create" asp-route-idTurma="@Model.IdTurma"
       asp-route-idComponente="@Model.IdComponente">Create New</a>
</p>
    <table>
        <thead>
            <tr>
                <th>Tipo de Avaliacão</th>
                <th>Data Entrega</th>
                <th>Peso</th>
                <th></th>
            </tr>
        </thead>
            
        <tbody>          
            @for (int i = 0; i < Model.Avalicoes.Count(); i++)
            {
                <tr>
                    <td>@Html.DisplayFor(model => Model.Avalicoes[i].TipoDeAtividade)</td>
                    <td>@Html.DisplayFor(model => Model.Avalicoes[i].DataEntrega)</td>
                    <td>@Html.DisplayFor(model => Model.Avalicoes[i].Peso)</td>
                </tr>
            }
        </tbody>
    </table>

<div>
    <a asp-controller="Professor" asp-action="DiarioDeClasse" asp-route-idTurma="@Model.IdTurma"
       asp-route-idComponente="@Model.IdComponente"> Voltar </a>
</div>

