@model ModernSchoolWEB.Models.AvaliacaoProfessorViewModel
<partial name="_Notificar">
<div class="py-1">
    <label class="fs-5">Turma: @ViewData["Turma"]</label>
    <label class="fs-5">Componente: @ViewData["Componente"]</label>
</div>

<table class="table table-sm table-striped table-bordered">
    <thead>
        <tr>
            <th>Tipo de Avaliacão</th>
            <th>Data Entrega</th>
            <th>Peso</th>
            <th>Notas</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @for (int i = 0; i < Model.Avalicoes.Count(); i++)
        {
            <tr>
                <td>@Html.DisplayFor(model => Model.Avalicoes[i].TipoAvaliacao)</td>
                <td>@Html.DisplayFor(model => Model.Avalicoes[i].DataEntrega)</td>
                <td>@Html.DisplayFor(model => Model.Avalicoes[i].Peso)</td>
                <td>
                    <div>
                        <a class="fs-5" asp-controller="Avaliacao" asp-action="AdicionarNotasAvaliacao" asp-route-idAvaliacao="@Model.Avalicoes[i].Id"
                           asp-route-idComponente="@Model.IdComponente"><i class="fa-solid fa-file-pen"></i></a>
                    </div>
                </td>
                <td>
                    <div class="d-flex justify-content-evenly">
                        <div>
                            <a role="button" asp-action="Edit" class="fs-5" asp-route-Id="@Model.Avalicoes[i].Id" asp-route-idComponente="@Model.IdComponente"><i class="fa-solid fa-pen-to-square"></i></a>

                        </div>
                        <div>
                            <button onclick="showConfirmationModalAvaliacao('@Model.Avalicoes[i].Id', 'avaliacaoModal', '@ViewData["Componente"]', '@Model.Avalicoes[i].DataEntrega', '@Model.IdTurma', '@Model.IdComponente' )" type="submit" class="border-0 fs-5 bg-transparent pl-5" role="button">
                                <i class="fa-solid text-danger fa-trash-can"></i>
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="container py-4">
    <div class="row">
        <div class="d-flex justify-content-end col-lg align-items-center">
            <a class="btn bg-secondary text-white border border-0 d-grid gap-2 col-3" asp-controller="Professor" asp-action="DiarioDeClasse" asp-route-idTurma="@Model.IdTurma"
               asp-route-idComponente="@Model.IdComponente"> Voltar </a>
        </div>
        <div class="d-flex justify-content-end col-lg-2">
            <a class="display-4" role="button" asp-action="Create" asp-route-idTurma="@Model.IdTurma"
               asp-route-idComponente="@Model.IdComponente"><i class="fa-sharp fa-solid fa-circle-plus"></i></a>
        </div>
    </div>
</div>

<div class="modal fade" id="avaliacaoModal" tabindex="-1" aria-labelledby="ensaioLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <form method="post" class="modal-footer">
                <button type="button" class="btn btn-danger col-3 me-4" data-bs-dismiss="modal">Não</button>
                <button type="submit" class="btn btn-primary col-3">Sim</button>
            </form>
        </div>
    </div>
</div>