@model ModernSchoolWEB.Models.GradehorarioViewModel

<h4>@Model.NomeEscola</h4>
<label>Turma: @Model.Turma</label>
<label>Sala: @Model.Sala</label>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <input asp-for="IdTurma" value="@Model.IdTurma" type="hidden"/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdProfessor" class="control-label">Professor</label>
                <select asp-for="IdProfessor" class="form-control" asp-items="@Model.ListaProfessor"></select>
                <span asp-validation-for="IdProfessor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdComponente" class="control-label">Componente</label>
                <select asp-for="IdComponente" class="form-control" asp-items="@Model.ListaComponentes"></select>
                <span asp-validation-for="IdComponente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaSemana" class="control-label"></label>
                <input asp-for="DiaSemana" class="form-control" />
                <span asp-validation-for="DiaSemana" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraInicio" class="control-label"></label>
                <input asp-for="HoraInicio" class="form-control" />
                <span asp-validation-for="HoraInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraFim" class="control-label"></label>
                <input asp-for="HoraFim" class="form-control" />
                <span asp-validation-for="HoraFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-idTurma="@Model.IdTurma">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
