@model ModernSchoolWEB.Models.GradeHorarioDTOModel
<label class="fs-5">Diários de Classes</label>
<table class="table table-sm table-striped table-bordered">
    <thead>
        <tr>
            <th>
               <label>Componente</label>
            </th>
            <th>
               <label>Dia</label>
            </th>
            <th>
                <label>HoraInicio</label>
            </th>
            <th>
                <label>HoraFim</label>
            </th>
            <th>
                <label>Professor</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.GradeHorarioDTOs.Count(); i ++)
        {
            <tr>
                <input type="hidden" asp-for="@Model.GradeHorarioDTOs[i].Id" />
                <td>
                    @Html.DisplayFor(modelItem => @Model.GradeHorarioDTOs[i].Componente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => @Model.GradeHorarioDTOs[i].Dia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => @Model.GradeHorarioDTOs[i].HoraInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => @Model.GradeHorarioDTOs[i].HoraFim)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => @Model.GradeHorarioDTOs[i].Professor)
                </td>
                <td>
                    <div class="d-flex">
                        <div>
                            <a role="button" asp-action="Edit" class="fs-5" asp-route-Id="@Model.GradeHorarioDTOs[i].Id"><i class="fa-solid fa-pen-to-square"></i></a>
                        </div>
                        <div>
                            <form asp-action="Delete"
                                  asp-route-Id="@Model.GradeHorarioDTOs[i].Id">
                                <button type="submit" class="border-0 fs-5 bg-transparent pl-5" role="button">
                                    <i class="fa-solid text-danger fa-trash-can"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="container py-4">
    <div class="row">
        <div class="d-flex justify-content-end col-lg align-items-center">
            <a class="btn bg-secondary text-white border border-0 d-grid gap-2 col-3" asp-controller="Turma" asp-action="Index"> Voltar </a>
        </div>
        <div class="d-flex justify-content-end col-lg-2">
            <a class="display-4" role="button" asp-action="Create" asp-route-idTurma="@Model.IdTurma"><i class="fa-sharp fa-solid fa-circle-plus"></i></a>
        </div>
    </div>
</div>
