@model ModernSchoolWEB.Models.DiarioDeClasseViewModel


<div class="py-1">
    <label>Turma: @ViewData["nomeTurma"]</label>
    <label>Componente: @ViewData["nomeComponente"]</label>
</div>
<div class="row">
    <div class="col">
        <form asp-action="CreateDiarioClasse">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table class="table table-sm table-striped table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>Unidade temática</th>
                        <th>Data</th>
                        <th>Objeto conhecimento</th>
                        <th>Habilidade</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Habilidade.Count(); i++)
                    {

                        <input asp-for="@Model.Habilidade[i].IdObjeto" type="hidden" />
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="True" id="flexCheckDefault" asp-for="@Model.Habilidade[i].Selecionado">
                            </td>
                            <td>@Html.DisplayFor(modemItem => Model.Habilidade[i].UnidadeTematica)</td>
                            <td>@Html.DisplayFor(modemItem => Model.Habilidade[i].Data)</td>
                            <td>@Html.DisplayFor(modemItem => Model.Habilidade[i].ObjetoConhecimento)</td>
                            <td>@Html.DisplayFor(modemItem => Model.Habilidade[i].Habilidade)</td>
                        </tr>
                    }
                </tbody>
            </table>

            <p><strong>Recursos Utilizados:</strong></p>
            <div class="d-flex justify-content-start">
                    <div class="form-group">
                        <label asp-for="DataShow" class="control-label"></label>
                        <input asp-for="DataShow" type="checkbox" value="true" />
                        <span asp-validation-for="DataShow" class="text-danger"></span>
                    </div>
                <div class="form-group ml-5">
                        <label asp-for="Livros" class="control-label"></label>
                        <input asp-for="Livros" type="checkbox" value="true" />
                        <span asp-validation-for="Livros" class="text-danger"></span>
                    </div>
                <div class="form-group ml-5">
                        <label asp-for="LivrosSeduc" class="control-label"></label>
                        <input asp-for="LivrosSeduc" type="checkbox" value="true" />
                        <span asp-validation-for="LivrosSeduc" class="text-danger"></span>
                    </div>
                </div>
            <div class="form-group">
                <label asp-for="ResumoAula" class="control-label"></label>
                <textarea asp-for="ResumoAula" rows="3" class="form-control"></textarea>
                <span asp-validation-for="ResumoAula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="IdTurma" class="form-control" type="hidden" />
                <span asp-validation-for="IdTurma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="IdComponente" class="form-control" type="hidden" />
                <span asp-validation-for="IdComponente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="IdProfessor" class="form-control" type="hidden" />
                <span asp-validation-for="IdProfessor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoAula" class="control-label"></label>
                <input asp-for="TipoAula" class="form-control" />
                <span asp-validation-for="TipoAula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

