@model ModernSchoolWEB.Models.DiarioClasseProfessorDTO

<p>
    <a asp-action="CreateDiarioClasse" asp-route-idTurma="@Model.IdTurma" 
        asp-route-idProfessor="@Model.IdProfessor" 
        asp-route-idComponente="@Model.IdComponente">Create New</a>:
    <a asp-action="Index" asp-controller="Avaliacao" asp-route-idTurma="@Model.IdTurma"
       asp-route-idComponente="@Model.IdComponente">Avaliacao</a>
</p>

<div>
    <label>Turma: @Model.NomeTurma</label>
    <label>Componente: @Model.NomeComponente</label>

</div>
<table class="table">
    <thead>
        <tr>
            <th>
                <label>Unidade Tematica</label>
            </th>
            <th>
                <label>Data</label>
            </th>
            <th>
                <label> Frequência </label>
            </th>
            <th>
                <label> Registro </label>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ObjetoConhecimento)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UnidadeTematica)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    <a role="button" asp-action="Frequencia" class="btn btn-secondary btn-sm" asp-route-IdDiario="@item.IdDiarioClasse"> MORE</a>
                </td>
                <td>
                    @Html.ActionLink("+", "Edit", new { IdObjeto = item.IdObjeto, IdDiario = item.IdDiarioClasse })
                </td>
            </tr>
        }
    </tbody>
</table>