@model ModernSchoolWEB.Models.DiarioClasseProfessorDTO

<div class="py-1">
    <label>Turma: @Model.NomeTurma</label>
    <label>Componente: @Model.NomeComponente</label>
</div>
<table class="table table-sm table-striped table-bordered">
    <thead>
        <tr>
            <th>
                <label>Unidade Tematica</label>
            </th>
            <th>
                <label>Data</label>
            </th>
            <th>
                <label> Frequência </label>
            </th>
            <th>
                <label> Registro </label>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ObjetoConhecimento)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UnidadeTematica)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    <a role="button" asp-action="Frequencia" class="fs-5" asp-route-IdDiario="@item.IdDiarioClasse"
                       asp-route-IdTurma="@Model.IdTurma" asp-route-IdComponente="@Model.IdComponente"><i class="fa-solid fa-clipboard-check"></i></a>
                </td>
                <td>
                    <a role="button" asp-action="Frequencia" class="fs-5" asp-route-IdDiario="@item.IdDiarioClasse" 
                        asp-route-IdTurma="@Model.IdTurma" asp-route-IdComponente="@Model.IdComponente"><i class="fa-solid fa-pen-to-square"></i></a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="container py-4">
    <div class="row">
        <div class="col-lg-6"></div>
        <div class="d-flex justify-content-end col-lg-6">
            <a class="display-4" role="button" asp-action="CreateDiarioClasse" asp-route-idTurma="@Model.IdTurma"
               asp-route-idProfessor="@Model.IdProfessor"
               asp-route-idComponente="@Model.IdComponente"><i class="fa-sharp fa-solid fa-circle-plus"></i></a>
        </div>
    </div>
</div>