@model ModernSchoolWEB.Models.FrequenciaListaAlunoDTOViewModel

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lista[0].IdAluno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lista[0].NomeAluno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lista[0].Faltas)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        <form asp-action="SalvarFrequencia" method="post">
            <input asp-for="IdTurma" value="@Model.IdTurma" type="hidden" />
            <input asp-for="IdComponente" value="@Model.IdComponente" type="hidden" />
            @for (int i = 0; i < Model.Lista.Count(); i++)
            {

            <tr>
                <td>
                        @Html.DisplayFor(modelItem => Model.Lista[i].IdAluno)
                    <input asp-for="@Model.Lista[i].IdAluno" type="hidden" value="@Model.Lista[i].IdAluno" />
                    <input asp-for="@Model.Lista[i].IdDiario" type="hidden" value="@Model.Lista[i].IdDiario" />
                </td>
                <td>
                        @Html.DisplayFor(modelItem => @Model.Lista[i].NomeAluno)
                </td>
                <td>
                    <input asp-for="@Model.Lista[i].Faltas" />
                </td>
                <td>
                </td>
            </tr>
            }
        <input type="submit" value="Salvar" class="btn btn-primary" />
        </form>
    </tbody>
</table>
