@model ModernSchoolWEB.Models.FrequenciaListaAlunoDTOViewModel

<table class="table table-sm table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lista[0].IdAluno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lista[0].NomeAluno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lista[0].Faltas)
            </th>
        </tr>
    </thead>
    <tbody>
        <form asp-action="SalvarFrequencia" method="post">
            <input asp-for="IdTurma" value="@Model.IdTurma" type="hidden" />
            <input asp-for="IdComponente" value="@Model.IdComponente" type="hidden" />
            @for (int i = 0; i < Model.Lista.Count(); i++)
            {

            <tr>
                <td>
                        @Html.DisplayFor(modelItem => Model.Lista[i].IdAluno)
                    <input asp-for="@Model.Lista[i].IdAluno" type="hidden" value="@Model.Lista[i].IdAluno" />
                    <input asp-for="@Model.Lista[i].IdDiario" type="hidden" value="@Model.Lista[i].IdDiario" />
                </td>
                <td>
                        @Html.DisplayFor(modelItem => @Model.Lista[i].NomeAluno)
                </td>
                <td>
                    <input class="input-group-text w-25" asp-for="@Model.Lista[i].Faltas" />
                </td>
            </tr>
            }
        <div class="d-flex justify-content-between py-5">
            <div class="col">
                <label>Turma: @ViewData["Turma"]</label>
                <label>Componente: @ViewData["Componente"]</label>
            </div>
            <div class="col d-flex justify-content-end">
                <input type="submit" value="Registrar" class="btn cor-bg d-grid gap-2 col-5 text-white border border-0" />
            </div>
        </div>
        </form>
    </tbody>
</table>
