@model ModernSchoolWEB.Models.AvaliacaoComponente

<label class="fs-5 py-2">Componente: @Model.NomeComponente</label>


@for (int i = 0; i < Model.DiarioAlunos.Count(); i++)
{
    <div class="rounded border border-gray-30" style="background-color: whitesmoke">
        <label class="px-3 py-2">@Model.DiarioAlunos[i].Resumo - [ @Model.DiarioAlunos[i].Data.ToString("dd/MM/yyyy") ]</label>
        <br />
        @if (@Model.DiarioAlunos[i].Falta == 0)
        {
            <label class="ml-3">Frequência : </label>

            <label class="mr-3" style="color: green">Presente</label>
        }
        else
        {
            <label class="ml-3">Frequência : </label>

            <label class="mr-3" style="color: red">Ausente</label>
            <label class="mr-3">-</label>
            <label class="mr-3">@Model.DiarioAlunos[i].Falta Faltas</label>
        }

    </div>
    <br />
}