@model Core.DTO.AlunoComunicacaoIndexDTO

<label class="fs-4">Comunicado</label>
<br />
<label>Turma: @Model.NomeTurma</label>

<table class="table table-sm table-striped table-bordered">
    <thead>
        <tr>
            <th>
                Professor
            </th>
            <th>
                Componente
            </th>
            <th>
                Data
            </th>
            <th>
                Mensagem
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < @Model.Comunicados.Count(); i++)
        {
            <tr>
                <td>
                    @Model.Comunicados[i].NomeRemetente
                </td>
                <td>
                    @Model.Comunicados[i].NomeComponente
                </td>
                <td>
                    @Model.Comunicados[i].Data.ToString("dd/MM/yyyy")
                </td>
                <td>
                    <button data-toggle="modal" data-target="#exampleModalCenter" class="fs-5 pl-5 open-modal-comunicado border-0 text-primary-default bg-transparent" data-mensagem="@Model.Comunicados[i].Menssagem"><i class="fa-solid fa-eye"></i></button>
                </td>

            </tr>
        }
    </tbody>
</table>
<div class="d-flex flex- py-4 col-4">
    <div class="col-8 d-flex">
        <a asp-action="Index" asp-controller="Aluno" class="btn bg-secondary text-white border border-0 col"> Voltar </a>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded">
            <div class="d-flex justify-content-between">
                <span class="fs-4 mt-2 ml-3">Mensagem</span>
                <button type="button" class="close border-0 bg-white fs-3 rounded" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <hr />
            <div class="modal-body">
                <p id="mensagemModal"></p>
            </div>
        </div>
    </div>
</div>


