@model Core.DTO.AlunoComunicacaoIndexDTO

<label class="fs-4">Comunicado</label>
<br />
<label>Turma: @Model.NomeTurma</label>

<table class="table table-sm table-striped table-bordered">
    <thead>
        <tr>
            <th>
                Professor
            </th>
            <th>
                Componente
            </th>
            <th>
               Data
            </th>
            <th>
                Mensagem
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < @Model.Comunicados.Count(); i++)
        {
            <tr>
                <td>
                    @Model.Comunicados[i].NomeRemetente
                </td>
                <td>
                    @Model.Comunicados[i].NomeComponente
                </td>
                <td>
                    @Model.Comunicados[i].Data.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Model.Comunicados[i].Menssagem
                </td>

            </tr>
        }
    </tbody>
</table>
<div class="d-flex flex- py-4 col-4">
    <div class="col-8 d-flex">
        <a asp-action="Index" asp-controller="Aluno" class="btn bg-secondary text-white border border-0 col"> Voltar </a>
    </div>
</div>
