@model ModernSchoolWEB.Models.AlunoTelaIndex

<p>
    <label class="fs-5">Turma :@Model.NomeTurma</label>
</p>
<table class="table table-sm table-striped table-bordered">
    <thead>
        <tr>
            <th>
                Componente
            </th>
            <th>
                Local
            </th>
            <th>
                Horário
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.AlunosDisciplinas.Count(); i++)
        {
            <tr>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => Model.AlunosDisciplinas[i].NomeComponente)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => Model.AlunosDisciplinas[i].Local)
                </td>
                <td class="align-middle">
                    @for(int j = 0; j < Model.AlunosDisciplinas[i].Horas.Count(); j++)
                    {
                        <span> @Html.Raw(Model.AlunosDisciplinas[i].Horas[j])</span>
                        <br />
                    }
                </td>
                <td class="align-middle">
                    <a role="button" class="btn btn-sm cor-bg rounded-pill text-light" asp-action="AtividadesComponentes"
                       asp-route-idComponente=" @Model.AlunosDisciplinas[i].IdComponente" asp-route-idAluno="@Model.IdAluno"
                        asp-route-idTurma="@Model.IdTurma">Selecionar</a>
                </td>
            </tr>
        }
    </tbody>
</table>



<p>
    <label class="fs-5">Atividades</label>
</p>

<table class="table table-sm table-striped table-bordered">
    <thead>
        <tr>
            <th>
                Data
            </th>
            <th>
                Componente
            </th>
            <th>
                Descricao
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.AlunosAtividade.Count(); i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.AlunosAtividade[i].Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.AlunosAtividade[i].Componente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.AlunosAtividade[i].Descricao)
                </td>
            </tr>
        }
    </tbody>
</table>