@model ModernSchoolWEB.Models.AlunoTelaIndex

<p>
    <label class="fs-5">Turma :@Model.NomeTurma</label>
</p>
<table class="table table-sm table-striped table-bordered">
    <thead>
        <tr>
            <th>
                Componente
            </th>
            <th>
                Local
            </th>
            <th>
                Horário
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.AlunosDisciplinas.Count(); i++)
        {
            <tr>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => Model.AlunosDisciplinas[i].NomeComponente)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => Model.AlunosDisciplinas[i].Local)
                </td>
                <td class="align-middle">
                    @for (int j = 0; j < Model.AlunosDisciplinas[i].Horas.Count(); j++)
                    {
                        <span> @Html.Raw(Model.AlunosDisciplinas[i].Horas[j])</span>
                        <br />
                    }
                </td>
                <td class="align-middle">
                    <a role="button" class="btn btn-sm cor-bg rounded-pill text-light" asp-action="AtividadesComponentes"
                       asp-route-idComponente=" @Model.AlunosDisciplinas[i].IdComponente" asp-route-idAluno="@Model.IdAluno"
                       asp-route-idTurma="@Model.IdTurma">Selecionar</a>
                </td>
            </tr>
        }
    </tbody>
</table>



<p>
    <label class="fs-5">Atividades</label>
</p>
@if (Model.AlunosAtividade.Count() == 0)
{
    <p class="text-center mt-4 mb-0">Sem <strong>Atividades</strong> Cadastradas!!</p>
}
else
{
    <table class="table table-sm table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    Data de Entrega
                </th>
                <th>
                    Horário de Entrega
                </th>
                <th>
                    Componente
                </th>
                <th>
                    Descricão
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.AlunosAtividade.Count(); i++)
            {
                <tr>
                    <td class="col-3"> 
                        <span>@Model.AlunosAtividade[i].Data?.ToString("dd/MM/yyyy")</span>
                    </td>
                    <td class="col-3">
                        <span>@Model.AlunosAtividade[i].Data?.ToString("HH:mm")</span>
                    </td>
                    <td class="col-3">
                        @Html.DisplayFor(modelItem => Model.AlunosAtividade[i].Componente)
                    </td>
                    <td>
                        <button data-toggle="modal" data-target="#exampleModalCenter" class="fs-5 pl-5 open-modal-comunicado border-0 text-primary-default bg-transparent" data-mensagem="@Model.AlunosAtividade[i].Descricao"><i class="fa-solid fa-eye"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded">
            <div class="d-flex justify-content-between">
                <span class="fs-4 mt-2 ml-3">Descrição</span>
                <button type="button" class="close border-0 bg-white fs-3 rounded" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <hr />
            <div class="modal-body">
                <p id="mensagemModal"></p>
            </div>
        </div>
    </div>
</div>