@model ModernSchoolWEB.Models.AlunoTelaIndex

<p>
    <label class="fs-5">Turma :@Model.NomeTurma</label>
</p>
<table class="table table-sm table-striped table-bordered">
    <thead>
        <tr>
            <th>
                Componente
            </th>
            <th>
                Local
            </th>
            <th>
                Data de Entrega
            </th>
            <th>
                Hora de Entrega
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.AlunosDisciplinas.Count(); i++)
        {
            <tr>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => Model.AlunosDisciplinas[i].NomeComponente)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => Model.AlunosDisciplinas[i].Local)
                </td>
                <td class="align-middle">
                    @for (int j = 0; j < Model.AlunosDisciplinas[i].Horas.Count(); j++)
                    {
                        <span> @Html.Raw(Model.AlunosDisciplinas[i].Horas[j])</span>
                        <br />
                    }
                </td>
                <td class="align-middle">
                    <a role="button" class="btn btn-sm cor-bg rounded-pill text-light" asp-action="AtividadesComponentes"
                       asp-route-idComponente=" @Model.AlunosDisciplinas[i].IdComponente" asp-route-idAluno="@Model.IdAluno"
                       asp-route-idTurma="@Model.IdTurma">Selecionar</a>
                </td>
            </tr>
        }
    </tbody>
</table>



<p>
    <label class="fs-5">Atividades</label>
</p>
@if (Model.AlunosAtividade.Count() == 0)
{
    <p class="text-center mt-4 mb-0">Sem <strong>Atividades</strong> Cadastradas!!</p>
}
else
{
    <table class="table table-sm table-striped table-bordered" id="atividadeAlunoTurma">
        <thead>
            <tr>
                <th>
                    Data Entrega
                </th>
                <th>
                    Hora Entrega
                </th>
                <th>
                    Componente
                </th>
                <th>
                    Descricão
                </th>
            </tr>
        </thead>
    </table>
}

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded">
            <div class="d-flex justify-content-between">
                <span class="fs-4 mt-2 ml-3">Descrição</span>
                <button type="button" class="close border-0 bg-white fs-3 rounded" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <hr />
            <div class="modal-body">
                <p id="mensagemModal"></p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/DataTable/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#atividadeAlunoTurma').DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "pageLength": 5,
                "lengthMenu": [
                    [5, 10, 20, -1],
                    [5, 10, 20, "Todos"]
                ],
                "ajax": {
                    "url": "/Aluno/GetDataPage",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [{
                    "targets": [0],
                    "visible": true,
                    "searchable": false
                },
                {
                    "targets": [1],
                    "visible": true,
                    "searchable": false,
                    "orderable": false
                },
                {
                    "targets": [3],
                    "visible": true,
                    "searchable": false,
                    "orderable": false
                }
                ],
                "columns": [
                    { "data": "data", "name": "Data Entrega", "autoWidth": true,
                        "render": function (data, type, row) {
                            if (type === 'display') {
                                var dateObject = new Date(data);
                                var formattedDate = ("0" + dateObject.getDate()).slice(-2) + '/' + ("0" + (dateObject.getMonth() + 1)).slice(-2) + '/' + dateObject.getFullYear();
                                return formattedDate;
                            }
                            return data;
                        }
                    },
                    { "data": "data", "name": "Hora Entrega", "autoWidth": true,
                        "render": function (data, type, row) {
                            if (type === 'display') {
                                var horaMinuto = data.substring(11, 16);
                                return horaMinuto;
                            }
                            return data;
                        }
                    },
                    { "data": "componente", "name": "Componente", "autoWidth": true, },
                    {
                        "data": "descricao", "name": "Descrição", "autoWidth": true,
                        "render": function (data, type, full, meta) {
                            return '<button data-toggle="modal" data-target="#exampleModalCenter" class="fs-5 pl-5 border-0 text-primary-default bg-transparent" onclick="exibirMensagemNoModal(\'' + full.descricao + '\')"><i class="fa-solid fa-eye"></i></button>';
                        }
                    }
                ],
                language: {
                    "lengthMenu": "Exibir _MENU_",
                    "info": "Exibindo de _START_ até _END_ de _TOTAL_ registros",
                    "search": "Buscar",
                    "paginate": {
                        "next": '@Html.Raw("<i class=\"fa fs-6 fa-chevron-right\"></i>")',
                        "previous": '@Html.Raw("<i class=\"fa fs-6 fa-chevron-left\"></i>")',
                        "first": "Primeiro",
                        "last": "Último"
                    },
                    url: "/js/DataTable/pt-br.json",
                }
            });
        });
    </script>
}