@model ModernSchoolWEB.Models.PessoaViewModel


<dl class="border border-gray-30 rounded" style="background-color: whitesmoke">
    <div class="d-flex">
        <dt class="col-3 d-flex justify-content-between pl-1">
            @Html.DisplayNameFor(model => model.Nome)
            <span class="pr-2"><strong>:</strong></span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </div>
    <div class="d-flex">
        <dt class="col-3 d-flex justify-content-between pl-1">
            @Html.DisplayNameFor(model => model.Cpf)
            <span class="pr-2"><strong>:</strong></span>
        </dt>
        <dd>
            <span id="cpf">@Model.Cpf</span>
        </dd>
    </div>
    <div class="d-flex">
        <dt class="col-3 d-flex justify-content-between pl-1">
            @Html.DisplayNameFor(model => model.Telefone1)
            <span class="pr-2"><strong>:</strong></span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefone1)
        </dd>
    </div>
    <div class="d-flex">
        <dt class="col-3 d-flex justify-content-between pl-1">
            @Html.DisplayNameFor(model => model.Telefone2)
            <span class="pr-2"><strong>:</strong></span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefone2)
        </dd>
    </div>
    <div class="d-flex">
        <dt class="col-3 d-flex justify-content-between pl-1">
            <label>Nascimento</label>
            <span class="pr-2"><strong>:</strong></span>
        </dt>
        <dd>
            <span>@Model.DataNascimento.ToString().Substring(0, 10)</span>
        </dd>
    </div>
    <div class="d-flex">
        <dt class="col-3 d-flex justify-content-between pl-1">
            @Html.DisplayNameFor(model => model.Email)
            <span class="pr-2"><strong>:</strong></span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </div>
    <div class="d-flex">
        <dt class="col-3 d-flex justify-content-between pl-1">
            @Html.DisplayNameFor(model => model.Cep)
            <span class="pr-2"><strong>:</strong></span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cep)
        </dd>
    </div>
    <div class="d-flex">
        <dt class="col-3 d-flex justify-content-between pl-1">
            @Html.DisplayNameFor(model => model.Rua)
            <span class="pr-2"><strong>:</strong></span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rua)
        </dd>
    </div>
    <div class="d-flex">
        <dt class="col-3 d-flex justify-content-between pl-1">
            @Html.DisplayNameFor(model => model.Bairro)
            <span class="pr-2"><strong>:</strong></span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bairro)
        </dd>
    </div>
    <div class="d-flex">
        <dt class="col-3 d-flex justify-content-between pl-1">
            @Html.DisplayNameFor(model => model.Uf)
            <span class="pr-2"><strong>:</strong></span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Uf)
        </dd>
    </div>
    <div class="d-flex">
        <dt class="col-3 d-flex justify-content-between pl-1">
            @Html.DisplayNameFor(model => model.Cidade)
            <span class="pr-2"><strong>:</strong></span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cidade)
        </dd>
    </div>
    <div class="d-flex">
        <dt class="col-3 d-flex justify-content-between pl-1">
            @Html.DisplayNameFor(model => model.Numero)
            <span class="pr-2"><strong>:</strong></span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>
    </div>
    <div class="d-flex">
        <dt class="col-3 d-flex justify-content-between pl-1">
            @Html.DisplayNameFor(model => model.Complemento)
            <span class="pr-2"><strong>:</strong></span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Complemento)
        </dd>
    </div>
</dl>


