@model IEnumerable<ModernSchoolWEB.Models.ProfessorDTOModel>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPessoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomePessoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CargoPessoa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPessoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomePessoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CargoPessoa)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.IdPessoa }) |
                @Html.ActionLink("Details", "Details", new {  id=item.IdPessoa}) |
                @Html.ActionLink("Delete", "Delete", new { id=item.IdPessoa})
            </td>
        </tr>
}
    </tbody>
</table>
