@model ModernSchoolWEB.Models.AlunoTurmaViewModel
<partial name="_Notificar">
    <h3 class="fs-5"><strong>@Model.NomeEscola</strong></h3>
    <h2 class="fs-5"><strong>Matricular Aluno</strong></h2>
    <div class="row">
        <div class="col">Turma: @Model.Turma</div>
        <div class="col">Sala: @Model.Sala</div>
        <div class="col">Vagas Disponíveis: @Model.NumVagas </div>
    </div>
    <hr />
    <h4>Alunos </h4>
    <table id="tabelaAluno" class="table table-sm table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    Código
                </th>
                <th>
                    Nome
                </th>
                <th>

                </th>
                <th>

                </th>
            </tr>
        </thead>
    </table>

    <div class="container py-4 col-4">
        <div class="row">
            <div class="d-flex justify-content-end col-lg align-items-center">
                <a class="btn bg-secondary text-white border border-0 d-grid gap-2 col-3" asp-controller="Turma" asp-action="Index"> Voltar </a>
            </div>
            <div class="d-flex justify-content-end col-lg-2">
                <a class="display-4" role="button" asp-action="MatricularNovoAluno" asp-controller="Pessoa" asp-route-idTurma="@Model.IdTurma"><i class="fa-sharp fa-solid fa-circle-plus"></i></a>
            </div>
        </div>
    </div>

    <!-- Modal Details-->
    <div class="modal fade" id="modalDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Dados do Aluno</h5>
                    <button type="button" class="close border-0 bg-white fs-3" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="infoAluno">
                </div>
            </div>
        </div>
    </div>

    <!--Modal Excluir-->
    <div class="modal fade" id="alunoTurma" tabindex="-1" aria-labelledby="ensaioLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                </div>
                <form method="post" class="modal-footer">
                    <button type="button" class="btn btn-danger col-3 me-4" data-bs-dismiss="modal">Não</button>
                    <button type="submit" class="btn btn-primary col-3">Sim</button>
                </form>
            </div>
        </div>
    </div>
    @section Scripts {
        <script src="~/js/DataTable/jquery.dataTables.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#tabelaAluno').DataTable({
                    "processing": true, // for show progress bar
                    "serverSide": true, // for process server side
                    "filter": true, // this is for disable filter (search box)
                    "orderMulti": false, // for disable multiple column at once
                    "pageLength": 5,
                    "lengthMenu": [
                        [5, 10, 20, -1],
                        [5, 10, 20, "Todos"]
                    ],
                    "ajax": {
                        "url": "/Pessoa/GetDataPage",
                        "type": "POST",
                        "datatype": "json"
                    },
                    "columnDefs": [{
                        "targets": [0],
                        "visible": true,
                        "searchable": false
                    },
                    {
                        "targets": [3],
                        "visible": true,
                        "searchable": false,
                        "orderable": false
                    }],
                    "columns": [
                        { "data": "idAluno", "name": "Código", "autoWidth": true },
                        { "data": "nomeAluno", "name": "Nome", "autoWidth": true },
                        { "data": null, "defaultContent": null, "autoWidth": true, "visible": false },
                        {
                            "render": function (data, type, full, meta) {
                                return '<a role="button" href="/Pessoa/Edit?id=' + full.idAluno + '&idTurma=' + @Model.IdTurma + '" class="fs-5" "data-idTurma="' + @Model.IdTurma + '"><i class="fa-solid fa-pen-to-square"></i></a>' +
                                    '<button data-toggle="modal" data-target="#modalDetail"  onclick="openModal(' + full.idAluno + ', ' + @Model.IdTurma +')" class="open-modal fs-5 pl-5 border-0 text-primary-default bg-transparent" data-id="' + full.idAluno + '" data-idTurma="' + @Model.IdTurma + '"><i class="fa-solid fa-eye"></i></button>' +
                                    '<button onclick="showModalCancelarAluno(' + full.idAluno + ', \'' + @Model.IdTurma + '\')" type="submit" class="border-0 fs-5 bg-transparent pl-5" role="button"><i class="fa-solid text-danger fa-trash-can"></i></button>'
                            }
                        },
                    ],
                    language: {
                        "lengthMenu": "Exibir _MENU_",
                        "info": "Exibindo de _START_ até _END_ de _TOTAL_ registros",
                        "search": "Buscar",
                        url: "/js/DataTable/pt-br.json",
                    }
                });
            });
        </script>
    }
