@model ModernSchoolWEB.Models.TurmaViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TurmaViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnoLetivo1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnoLetivo1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Turma1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Turma1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vagas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vagas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VagasDisponiveis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VagasDisponiveis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sala)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sala)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Escolaridade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Escolaridade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
