@model IEnumerable<ModernSchoolWEB.Models.TurmaViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnoLetivo)
            </th>
            <th>
                <label>Turma</label>
                <!--@Html.DisplayNameFor(model => model.Turma1)-->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vagas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VagasDisponiveis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Escolaridade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AnoLetivo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Turma1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vagas)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VagasDisponiveis)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sala)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Escolaridade)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new {  id=item.Id }) |
                            @Html.ActionLink("Details", "Details", new {  id=item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new {  id=item.Id  })
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
