@model IEnumerable<ModernSchoolWEB.Models.EscolaProfessorDTOViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeEscola)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeComponente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeTurma)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeEscola)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeComponente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeTurma)
            </td>
            <td>
                    <button class="br-button primary active mr-3" type="button">@Html.ActionLink("Selecionar", "Edit", new {  id=item.IdTurma  })</button>
                @Html.ActionLink("Edit", "Edit", new {  id=item.IdTurma  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.IdTurma  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.IdTurma  })
            </td>
        </tr>
}
    </tbody>
</table>
