@model ModernSchool.Models.CurriculoViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CurriculoViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Escolaridade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Escolaridade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnoFaixa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnoFaixa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnoLetivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnoLetivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdGoverno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdGoverno)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  /*id = Model.Id*/ }) |
    <a asp-action="Index">Back to List</a>
</div>
