@model IEnumerable<ModernSchoolWEB.Models.CurriculoViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Escolaridade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnoFaixa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnoLetivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdGoverno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Escolaridade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnoFaixa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnoLetivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdGoverno)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id }) |
                @Html.ActionLink("Details", "Details", new {  id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
