@model ModernSchoolWEB.Models.GovernoServidorModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GovernoServidorModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCargo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCargo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdGoverno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdGoverno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPessoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPessoa)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" name="idGoverno" value="@Model.IdGoverno"/>
        <input type="hidden" name="idPessoa" value="@Model.IdPessoa"/>
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
