@model IEnumerable<ModernSchoolWEB.Models.GovernoServidorDTOModel>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPessoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdGoverno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeCargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeGoverno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomePessoa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPessoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdGoverno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeGoverno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomePessoa)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new {idPessoa=item.IdPessoa, idGoverno = item.IdGoverno }) |
                    @Html.ActionLink("Details", "Details", new { idPessoa=item.IdPessoa, idGoverno = item.IdGoverno }) |
                    @Html.ActionLink("Delete", "Delete", new {idPessoa=item.IdPessoa, idGoverno = item.IdGoverno })
            </td>
        </tr>
}
    </tbody>
</table>
