@model IEnumerable<ModernSchoolWEB.Models.ComponenteViewModel>

@{
    ViewData["Title"] = "Index";
}

<label class="control-label fs-5">Componentes</label>
<table class="table table-sm table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <input asp-for="@item.id" type="hidden" />
                <td>
                    @Html.DisplayFor(modelItem => item.nome)
                </td>
                <td>
                    <div class="d-flex">
                        <div>
                            <a role="button" asp-action="Edit" class="fs-5" asp-route-Id="@item.id"><i class="fa-solid fa-pen-to-square"></i></a>
                        </div>
                        <div>

                            <button onclick="showConfirmationModal('@item.id', 'Componente', 'componenteModal', '@item.nome')" type="submit" class="border-0 fs-5 bg-transparent pl-5" role="button">
                                <i class="fa-solid text-danger fa-trash-can"></i>
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="container py-4">
    <div class="row">
        <div class="d-flex justify-content-end col-lg align-items-center">
            <a class="btn bg-secondary text-white border border-0 d-grid gap-2 col-3" asp-controller="Turma" asp-action="Index"> Voltar </a>
        </div>
        <div class="d-flex justify-content-end col-lg-2">
            <a class="display-4" role="button" asp-action="Create"><i class="fa-sharp fa-solid fa-circle-plus"></i></a>
        </div>
    </div>
</div>
<div class="modal fade" id="componenteModal" tabindex="-1" aria-labelledby="ensaioLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <form method="post" class="modal-footer">
                <button type="button" class="btn btn-danger col-3 me-4" data-bs-dismiss="modal">Não</button>
                <button type="submit" class="btn btn-primary col-3">Sim</button>
            </form>
        </div>
    </div>
</div>